

header{


background-color: aquamarine;
width: 100%;
height: 6%;

.contenedor {
    display: flex;
    flex-direction: row;
    justify-content: space-between;

} 
    .izquierda {
       
        width: 8%;
        height: 54%;
        right: 80%;
        
    }
    
    .derecha {
       
        width: 17%;
        height: 15%;
        position: relative;
       
    }
    
    .derecha img {
        width: 17%;
        height: auto;
       
        
}}
main
{

    background-image: 
    url("img/fondo.jpg");
    width: 100%;
    height: 100%;
    background-size: cover;
    
}
footer
{
background-color: antiquewhite;
width: 100%;
height: 90%;

}